.Form {
    width: 80%;
    margin: auto;
}

.Input {
    height: 44px;
    width: 50%;
    border-style: none;
    text-indent: 4%;
    background-color: #fff;
    border: 2px solid #333333;
}

.Button {
    height: 50px;
    margin-left: 8px;
    border-style: none;
    background-color: #fff;
    font-size: 14px;
    color: #333333;
    border: 2px solid #333333;
    font-weight: 600;
}

@media only screen and (min-width: 600px) {
    .Form {
        width: 94%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .Input {
        width: 80%;
    }
}